.button {
  margin-top: 300px;
}

.Box {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  width: 1100px;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: scroll;
  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: #7e96fc;
}

.container {
  display: grid;
  flex-direction: column;
  align-items: center;
  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: #7e96fc;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto auto 300px;
  grid-column-gap: 10px;
  column-gap: 10px;
  grid-row-gap: 15px;
  row-gap: 15px;
}

@media (max-width: 1000px) {
  .container {
    display: grid;
    flex-direction: column;
    align-items: center;
    color: #7e96fc;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    column-gap: 10px;
    grid-row-gap: 15px;
    row-gap: 15px;
  }
}

.title {
  color: #715aff !important;
}

.bigBox {
  display: flex;
  justify-content: center;
  height: 90%;
  overflow: scroll;
}

.Root {
  /* flex-grow: 1; */
  width: 80%;
  padding: 20px;
  align-self: start;

}

.Paper {
  margin: "auto";
  max-width: 400px;
}

.Text {
  margin: 10px 10px !important;
}
