.button {
  margin-top: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #7e96fc;
}

.title {
  color: #715aff !important;
}
