/* @media all and (min-width: 480px) { */
.Login {
  /* padding: 60px 100px; */
  display: flex;
  justify-content: center;
}

.Login form {
  /* margin: 0 auto;
      max-width: 320px; */
  display: flex;
  flex-direction: column;
  width: 300px;
}

.CustomInput {
  /* border: red; */
  margin: 15px 10px 0 !important;
  max-width: 280px;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  margin: 0 10px 0 !important;
  max-width: 280px;
}

.input {
  margin: 10px 10px 0 !important;
  max-width: 280px;
}

.Login img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.link {
  font-size: 15px;
  color: #5887FF;
  margin-top: 8px;
  text-align: center;
}

.errorContainer {
  height: 30px !important;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
/* } */
